#newWidgetBtn {
    margin-top:20px;
    margin-bottom:20px;
}

.vote-box {
 	width: 50px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

.idea-action {
 	margin-top: 8px;
    margin-bottom: 8px;
}