<script type="text/ng-template" id="loading.html">
    <widget-row>
        <widget-cell>
            <div class="pDetails">
                Loading...
            </div>
        </widget-cell>
    </widget-row>
</script>

<script type="text/ng-template" id="main.html">

    <!-- SEARCH AND LIST EXAMPLE -->

    <button type="button" class="btn btn-primary" ng-click="showCreateView()">New Widget Idea</button>
    
    <widget-list list="idea in ideas" show-items="8">
        <widget-row clickable ng-click="showIdea(idea)">
            <widget-cell>{{idea.vote_count}}</widget-cell>
            <widget-cell fill>{{idea.title}}</widget-cell>
            <widget-cell>
                <widget-icon name="angle-right"></widget-icon>
            </widget-cell>
        </widget-row>
    </widget-list>
    
</script>

<!-- Menu template -->
<script type="text/ng-template" id="widgetMenu.html">
    <li>
        <a ng-click="menuButtonClick()">
            Test
        </a>
    </li>
</script>

<!-- VIEW FOR THE SEARCH AND LIST EXAMPLE -->

<script type="text/ng-template" id="ideaView.html">
    <widget-list-controls prev-click="prevItem" next-click="nextItem" original-item="item.value" prev-text="Previous Idea"
                          next-text="Next Idea"></widget-list-controls>
	
    <widget-row>
        <widget-cell>
            <h2>{{idea.title}}</h2>
        </widget-cell>
    </widget-row>
    <widget-row>
        <widget-cell>
            <div class="pHighlight">{{idea.description}}</div>
        </widget-cell>
    </widget-row>
</script>

<script type="text/ng-template" id="createView.html">
    
</script>