<script type="text/ng-template" id="loading.html">
    <widget-row>
        <widget-cell>
            <div class="pDetails">
                Loading...
            </div>
        </widget-cell>
    </widget-row>
</script>

<script type="text/ng-template" id="main.html">

    <!-- SEARCH AND LIST EXAMPLE -->

    <button type="button" class="btn btn-primary" ng-click="showCreateView()" id="newWidgetBtn">
        <span class="gylphicon glyphicon-plus"></span> New Widget Idea
    </button>
    
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-click='activeTab = "pending"' ng-class="{'active': activeTab == 'pending'}"><a>Pending</a></li>
        <li role="presentation" ng-click='activeTab = "complete"' ng-class="{'active': activeTab == 'complete'}"><a>Completed</a></li>
    </ul>

  <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" ng-class="{'active': activeTab == 'pending'}" >
            <widget-list list="idea in ideas | orderBy: 'vote_count' : true | completeFilter: false" show-items="8">
                <widget-row clickable ng-click="showIdea(idea)">
                    <widget-cell><div class="vote-box">{{idea.vote_count}}</div></widget-cell>
                    <widget-cell fill>{{idea.title}}</widget-cell>
                    <widget-cell>
                        <widget-icon name="angle-right"></widget-icon>
                    </widget-cell>
                </widget-row>
            </widget-list>
        </div>
        <div role="tabpanel" class="tab-pane" ng-class="{'active': activeTab == 'complete'}">
        	<widget-list list="idea in ideas | orderBy: 'vote_count' : true | completeFilter: true" show-items="8">
                <widget-row clickable ng-click="showIdea(idea)">
                    <widget-cell><div class="vote-box">{{idea.vote_count}}</div></widget-cell>
                    <widget-cell fill>{{idea.title}}</widget-cell>
                    <widget-cell>
                        <widget-icon name="angle-right"></widget-icon>
                    </widget-cell>
                </widget-row>
            </widget-list>
        </div>
    </div>

    
</script>

<!-- Menu template -->
<script type="text/ng-template" id="widgetMenu.html">
    <li>
        <a ng-click="menuButtonClick()">
            Test
        </a>
    </li>
</script>

<!-- VIEW FOR THE SEARCH AND LIST EXAMPLE -->

<script type="text/ng-template" id="ideaView.html">
    <widget-list-controls prev-click="prevItem" next-click="nextItem" original-item="item.value" prev-text="Previous Idea"
                          next-text="Next Idea"></widget-list-controls>
	
    <widget-row>
        <widget-cell>
            <div class="vote-container">
                {{currentIdea.vote_count}}
            </div>
        </widget-cell>
        <widget-cell fill>
            <div>
                <h2>{{currentIdea.title}}</h2>
            </div>
        </widget-cell>
    </widget-row>
    <widget-row>
        <widget-cell>
            <button type="button" class="btn btn-default" ng-click="vote(currentPost, 1)">Vote 1</button>
            <button type="button" class="btn btn-default" ng-click="vote(currentPost, 2)">Vote 2</button>
            <button type="button" class="btn btn-default" ng-click="vote(currentPost, 3)">Vote 3</button>
        </widget-cell>
    </widget-row>
    <widget-row>
        <widget-cell>
            <div ng-bind-html="currentIdea.formatted_text"></div>
            
           	<hr/>
            <!--state: {{currentIdea.state}}-->
            <!--date : {{currentIdea.updated_at}}-->
            <div class="idea-action">
                <a href="{{currentIdea.url}}" target="_blank">
                    <span class="glyphicon glyphicon-new-window"></span>
                    View on Uservoice
                </a>
                &nbsp;&nbsp;
                <span class="label" ng-if="currentIdea.status != null" 
                  ng-class="{'label-warning' : currentIdea.status.key == 'under-review',
                             'label-success' : currentIdea.status.key == 'completed'}">
                    {{currentIdea.status.name}}
                </span>
            </div>
            <div class="idea-action">
                <span class="glyphicon glyphicon-time"></span>
                {{currentIdea.updated_at | momentDate : 'MMMM DD YYYY, h:mm'}}
            </div>
 			<hr/>
            
           	<div class="comment" ng-repeat="comment in currentIdea.comments">
            	<div ng-bind-html="comment.formatted_text"></div>
            </div>
            
            <div class="form-group">
                <textarea class="form-control" placeholder="Enter a comment..." rows="3" ng-model="newComment.value"></textarea>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default" ng-click="addComment()">Comment</button>
            </div>
        </widget-cell>
    </widget-row>
</script>

<script type="text/ng-template" id="createView.html">
    
    <div class="form-group" style="margin-top:20px;">
        <h4>New Widget Idea</h4>
    </div>
    
    <div class="form-group">
    	<input type="text" class="form-control" placeholder="Enter an idea..." ng-model="newIdea.title"/>
    </div>
    <div class="form-group">
    	<textarea class="form-control" placeholder="Enter a description (optional)" ng-model="newIdea.description"></textarea>
    </div>

    <div class="form-group">
        <button type="button" ng-click="submitIdea()" class="btn btn-default">Submit</button>
    </div>
    
</script>